# Git
.git
.gitignore

# IDE
.idea
.vscode

# Node
node_modules

# Vendor (akan di-install di container)
/vendor

# Environment
.env
.env.*
!.env.example
!.env.docker

# Testing
/.phpunit.cache
/coverage

# Logs
*.log
/storage/logs/*
!/storage/logs/.gitkeep

# Cache files
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

# Documentation
*.md
!README.md

# Scripts
*.sh

# Docker files lama
docker-compose.yml
supervisord.conf
mysql.cnf
php.ini
